<div class="field">
  <%= f.label :hosts %><br />
  <%= f.text_area :hosts %>
</div>
<div class="field">
  <%= f.label :image_id %><br />
  <%= f.text_area :image_id %>
</div>
<div class="field">
  <%= f.label :machine_type_id %><br />
  <%= f.text_area :machine_type_id %>
</div>
<div class="field">
  <%= f.label :protected_subnet_id %><br />
  <%= f.text_area :protected_subnet_id %>
</div>
<div class="field">
  <%= f.label :custom_application %><br />
  <%= f.text_area :custom_application %>
</div>

